<main>
  <div class="main col bg-success justify-content-center d-flex">
      <p class="h1 text-light">Pasjehodec je odličen za vse lastnike in ljubitelje psov!</p>
  </div>
  <div>
    <div class="bg-success d-flex">
      <div style="float: left; width: 50%;">
        <img src="../assets/pictures/dog.jpg" style="width: 95%"alt="dog">
      </div>
      <div class="bg-success justify-content-center align-self-center" style="float: right; width: 50%;">
        <p class="p-2 h1 text-light">Si lastnik psa? <a routerLink='/signup'>Prijavi se</a> in privošči tvojemu ljubljenčku zabavne sprehode.</p>
      </div>
    </div>
    <div class="bg-success d-flex">

      <div class="justify-content-center align-self-center" style="width: 50%;">
        <p class="p-2 h1 text-light">Si ljubitelj psov? <a routerLink='/signup'>Prijavi se</a> in se podaj na razburljive sprehode s štirinožnimi prijatelji.</p>
      </div>

      <div style="width: 50%;">
        <img src="../assets/pictures/walking.jpg" style="width: 95%; float: right;" alt="dog">
      </div>
    </div>
    <div class="bg-success">
      <p class="text-center h1 text-light">Zakaj nas izbrati?</p>
      <p class="text-center h3 text-light">Aplikacija je preprosta za uporabo in prijazna do okolja. Vaši štirinožni prijatelji in ostali sprehajalci bodo zelo veseli zabavnih in razburljivih sprehodov.</p>

      <p class="text-center h2 text-white">Že registriran? <a routerLink='/login'>PRIJAVI SE!</a></p>

    </div>
  </div>
</main>
