@import './../../../styles.scss';

.main-title {
  font-weight: 300;
  font-size: 10vh;
  text-align: left;
}

.subtitle {
  font-weight: 200;
  font-size: 3vh;
  text-align: left;
}

.main-animation {
  background-image: url(/assets/animation1.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

.card-text-big {
  @extend .card-text;
  font-size: 18px;
  font-weight: 300;
}

.card {
  padding: 2vh;
}

.card_title {
  font-size: 30px;
  padding-bottom: 2vh;
  font-weight: 400;
}

.card_experience {
  @extend .col-md-3;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-bottom: 1vh;
}