<main class="bg-light">
  <div class="main row w-100 p-5">
    <div class="col-md-8 pr-3">
      <div class="p-2">
        <div class="row w-100 d-flex align-items-center">
          <h1 class="col-md-8">Aktivne storitve</h1>
          <div class="col-md-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Iskanje"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="searchInput"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="ri-search-eye-line"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading">Nalaganje podatkov...</div>

        <div *ngIf="error">
          {{ error }}
        </div>
        
        <ng-template #izborPsa let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          </div>
        </ng-template>

        <div *ngFor="let service of services | serviceSearch : searchInput" class="p-4 shadow m-3 row main">
            <div class="col-md-8">
              <a class="">
                <h2>{{ service.name }}</h2>
              </a>
              <h5>
                {{ service.dateFrom | date: "dd.MM.YYYY" }} -
                {{ service.dateTo | date: "dd.MM.YYYY" }}
              </h5>
              <hr />

              <h4 class="text-secondary">Opis storitve</h4>
              <p class="p-2">{{ service.description }}</p>

              <h4 class="text-secondary">Omejitve storitve</h4>
              <p class="p-2">{{ service.restrictions }}</p>
            </div>
            <div class="col-md-4">
              <div style="  position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
                <div class="map-frame" style="height: 100%;">
                  <div id="map{{service.id}}" style="height:100%"></div>
                </div>
              </div>
            </div>
          <div class="container-fluid row mt-2" *ngIf="user.isDogOwner">
            <div class="col-md-8"></div>
            <select [(ngModel)]="dogo" [ngModelOptions]="{standalone: true}" class="form-control col-md-2">
              <option *ngFor="let d of dogos" [ngValue]="d">{{d.name}}</option>
            </select> 
            <button type="button" (click)="narociStoritev(service)" class="btn btn-primary col-md-2">Naroči</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-2 shadow-lg bg-white">
        <h1 class="text-center">Akcije</h1>
        <div class="m-2">
          <a
            class="btn btn-outline-secondary btn-block"
            routerLink="/dodaj_psa"
            [class.disabled]="user.isServiceWorker"
          >
            Dodaj novega psa
          </a>
        </div>
        <div class="m-2">
          <a
            class="btn btn-outline-secondary btn-block"
            routerLink="/dodaj_storitev"
            [class.disabled]="user.isDogOwner"
          >
            Dodaj novo storitev
          </a>
        </div>
        <div class="m-2">
          <a class="btn btn-outline-secondary btn-block" routerLink="/profil"
            >Profil</a
          >
        </div><div class="m-2">
          <a class="btn btn-outline-secondary btn-block" routerLink="/seznam_uporabnikov"
            >Uporabniki</a
          >
        </div>
        <div class="m-2">
          <a class="btn btn-outline-danger btn-block" routerLink="/profil">
            Odjava</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
