<!--<main class="bg-light">-->
<!--  <div class="main row w-100 p-5">-->
<!--    <div class="col-md-8 pr-3">-->
<!--      <div class="p-2">-->
<!--        <div class="row w-100 d-flex align-items-center">-->
<!--          <h1 class="col-md-8">Seznam uporabnikov</h1>-->
<!--        </div>-->

<!--        <div *ngIf="loading">Nalaganje podatkov...</div>-->

<!--        <div *ngIf="error">-->
<!--          {{ error }}-->
<!--        </div>-->

<!--        <div *ngFor="let user of users" class="card p-4 shadow m-3">-->
<!--            <h2>{{ user.name }}</h2>-->
<!--          <hr />-->

<!--          <h4 class="text-secondary">Vrsta uporabnika</h4>-->
<!--          <p class="p-2" *ngIf="user.isDogOwner">Lastnik psa</p>-->
<!--          <p class="p-2" *ngIf="!user.isDogOwner">Izvajalec storitev</p>-->
<!--          <p class="p-2" *ngIf="userSedaj.isAdmin">{{ user.email }}</p>-->
<!--          <button type="button" class="btn btn-primary" (click)="openModal(user)">Uredi Uporabnika</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-4">-->
<!--      <div class="card p-2 shadow-lg bg-white">-->
<!--        <h1 class="text-center">Akcije</h1>-->
<!--        <div class="m-2">-->
<!--          <a-->
<!--            class="btn btn-outline-secondary btn-block"-->
<!--            routerLink="/dodaj_psa"-->
<!--          >-->
<!--            Dodaj novega psa-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="m-2">-->
<!--          <a-->
<!--            class="btn btn-outline-secondary btn-block"-->
<!--            routerLink="/dodaj_storitev"-->
<!--          >-->
<!--            Dodaj novo storitev-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="m-2">-->
<!--          <a class="btn btn-outline-secondary btn-block" routerLink="/profil"-->
<!--          >Profil</a-->
<!--          >-->
<!--        </div><div class="m-2">-->
<!--        <a class="btn btn-outline-secondary btn-block" routerLink="/seznam_uporabnikov"-->
<!--        >Uporabniki</a-->
<!--        >-->
<!--      </div>-->
<!--        <div class="m-2">-->
<!--          <a class="btn btn-outline-danger btn-block" routerLink="/profil">-->
<!--            Odjava</a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
<main class="bg-light">
    <div class="main row w-100 p-5">
        <div class="col-md-8 pr-3">
          <div class="p-2">
            <div class="row w-100 d-flex align-items-center">
              <h1 class="col-md-8">Seznam uporabnikov</h1>
            </div>

            <div *ngIf="loading">Nalaganje podatkov...</div>

            <div *ngIf="error">
              {{ error }}
            </div>

            <div *ngFor="let uporabnik of users" class="card p-4 shadow m-3">
              <h2>{{ uporabnik.name }}</h2>
              <hr />

              <h4 class="text-secondary">Vrsta uporabnika</h4>
              <p class="p-2" *ngIf="uporabnik.isDogOwner">Lastnik psa</p>
              <p class="p-2" *ngIf="!uporabnik.isDogOwner">Izvajalec storitev</p>
              <p class="p-2" *ngIf="userSedaj.isAdmin">{{ uporabnik.email }}</p>
              <button type="button" class="btn btn-primary" (click)="openModal(uporabnik)" *ngIf="userSedaj.isAdmin">Uredi uporabnika</button>
              <button type="button" class="btn btn-outline-success mt-1" (click)="openMessageModal(uporabnik)" *ngIf="userSedaj.isAdmin">Pošlji sporočilo uporabniku</button>
<!--              <button class="btn-primary" (click)="openModal(uporabnik)">open the modal</button>-->
              </div>
<!--            <button (click)="openModal(uporabnik)" *ngFor="let uporabnik of users">open the modal</button>-->
          </div>
        </div>
    </div>
</main>
