<section class="profile">
  <header class="header">
    <div class="form-group text-center">
    <div class="details shadow">
      <img class="avatar" src="assets/pictures/user-silhouette.png">
      <h1 class="heading">Janez Novak</h1>
      <div class="stats">
        <div class="col-4">
          <h4>Email</h4>
          <p>janeznovak@gmail.com</p>
        </div>
        <div class="col-4 vrsta text-justify">
          <h4>Uporabnik</h4>
          <p>Lastnik</p>
        </div>
      </div>
    </div>
    <div class="button">
      <button type="button" class="btn btn-ultra-voilet" routerLink="/uredi">Primary</button>
    </div>
    </div>
  </header>
</section>
