<section class="profile">
  <header class="header">
    <div class="form-group text-center">
    <div class="details shadow">
      <img class="avatar mt-3" src="assets/pictures/user-silhouette.png">
      <h1 class="heading">{{ user.name}} {{ user.surname}}</h1>
      <div class="stats">
        <div class="col-4">
          <h4>Email</h4>
          <p>{{ user.email }}</p>
        </div>
        <div class="col-4 vrsta text-justify">
          <h4>Uporabnik</h4>
          <p *ngIf="user.isDogOwner">Lastnik</p>
          <p *ngIf="!user.isDogOwner">Izvajalec storitve</p>
        </div>
      </div>
    </div>
    <div class="button">
      <button type="button" class="btn btn-outline-primary" routerLink="/spremeni_profil">Uredi profil</button>
    </div>
    </div>
  </header>
</section>
