<!-- ################ navbar ################ -->
<!-- <app-navbar-login-signup></app-navbar-login-signup> -->



<!-- ################ main body ################ -->
<main>
  <div class="main col d-flex justify-content-center">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <form name="myForm" (submit)="isOnline" id="forma" class="box mx-auto">
      <div role="alert" *ngIf="napakaNaObrazcu" class="alert alert-danger">{{ napakaNaObrazcu }}</div>
      <div class="login-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <h1>PRIJAVA</h1>
              <label>Email</label>
              <input type="email" name="email" class="form-control email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Geslo</label>
              <input type="password" name="pass" class="form-control password">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="btn-group">
              <button class="btn btn-primary pull-right">Prijava</button>
              <button routerLink="/signup" class="btn btn-secondary pull-right">Registracija</button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="showSuccess" class="alert alert-success">Login Successful!</div>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
</main>
